<!-- <b>select themes</b>
<select size="1"[(ngModel)]="themeName">
<option value="forest">Forest theme</option>
<option value="ocean">Ocean theme</option>
<option value="cloud">Cloud theme</option>
</select><br><br>


<div [class]="themeName"[style.max-width.px]="size"[style.max-height.px]="size">
oceans,forests,cloud
</div>
<router-outlet></router-outlet>

<select size="1" [(ngModel)]="applyColor">
  <option value="violet">violet</option>
  <option value="red">red</option>
  <option value="blue">blue</option>
</select><br>
<input type="text" [style.color]="applyColor" value="Unknown"/>

<div [style.color]="applyColor">
  Changing styles dynamically
</div>
<b>set the size</b>&nbsp;&nbsp;<input type="number"
min="100" max="500" step="20"[(ngModel)]="size"/>
 -->

<form name="myform" (submit)="sendData()">
FirstName<input type="text" name="FirstName"[(ngModel)]="this.udata.FirstName" (ngModelChange)="checkData()" />
<label style="color: red;" *ngIf="this.udata.FirstName.length == 0">
  First Name cannot be empty
</label><br>
LastName<input type="text" name="LastName"[(ngModel)]="this.udata.LastName" (ngModelChange)="checkData()"/>
<label style="color: red;" *ngIf="this.udata.LastName.length == 0"><br>
Last Name cannot be empty
</label><br>
<input type="checkbox"[(ngModel)]="enableDisable" name="Agree"/>Agree to T&C<br>
<input type="reset" name="reset" [disabled]="!(udata.FirstName || udata.LastName)"  value="Reset">
<input type="button" name="saveData" value="save data" [disabled]="!enableDisable" (click)="saveData()"/>&nbsp;&nbsp;
<input type="submit" value="submit form"/>
</form><br>
<b>List of users:</b><br>
<table style="border:3px;border-style:dotted;">
<tr><td>First Name</td><td>Last Name</td></tr>
<tr *ngFor="let user of userList"><td>{{user.FirstName}}</td><td>{{user.LastName}}</td></tr>
</table><br>



<form>
  FirstName<input type="text" name="FirstName" [(ngModel)]="this.udata.FirstName"/><br>
  LastName<input type="text" name="LastName" [(ngModel)]="this.udata.LastName" /><br>

</form><br>

<!-- <ng-container *ngIf="this.udata.FirstName.length !=0 && 
this.udata.LastName.length !=0; then Correct; else NotCorrect;">
</ng-container>
<ng-template #Correct>
<div >
  <b>Inputs are correct</b>
</div>
</ng-template>
<ng-template  #NotCorrect>
<div>
  <b>Inputs are not correct</b>
  </div>
</ng-template> -->

<ng-template [ngIf]="this.udata.FirstName.length!=0 && this.udata.LastName.length!=0" [ngIfElse]="NotCorrect">
<b>Inputs are correct</b>
</ng-template>
<ng-template #NotCorrect>
  <b>
    FirstName And LastName are mandatory
  </b>
</ng-template>
<select size="1" [(ngModel)]="this.stateName">
<option value="TN">Tamil Nadu</option>
<option value="KA">Karnataka</option>
<option value="AP">Andhra Pradesh</option>
<option value="UP">Uttar Pradesh</option>
</select>

<div [ngSwitch]="this.stateName">
  <ul *ngSwitchCase="'TN'"><li>Chennai</li><li>Madurai</li></ul>
  <ul *ngSwitchCase="'AP'"><li>vijawada</li><li>vizag</li></ul>
  <ul *ngSwitchCase="'KA'"><li>blore</li><li>Mysore</li></ul>
  <ul *ngSwitchCase="'UP'"><li>Lucknow</li><li>Meerut</li></ul>
</div>